

/*#2*/

/*
css3の値指定方法
- 長さ
　- px, em, %, rem
*/
/*
html{
	font-size: 32px;
}
*/
/*
h1 {
	font-size: 2em;
	font-size: 2rem;
}
*/

/*
span {
	font-size: 0.5em;
	font-size: 0.5rem;
}
*/


/*#3*/

/*
色
- rgba
 - Red
 - Green
 - Blue
 - Alpha(0-1)

- hsl/hsla
 - Hue 0-360
 - Saturation 0-100%
 - Lightness 0-100%
 - Alpha(0-1)

*/

/*
div{
	width: 100px;
	height: 50px;

}

#box1 {
	background: rgb(255, 100, 100);
}

#box2 {
	background: rgba(255, 100, 100, .2);
}

#box3 {
	background: hsla(210, 100%, 50%, .7);
}

#box4 {
	background: hsla(210, 100%, 40%, .7);
}
*/


/*#4*/

/*
opacity
*/
/*
body {
	background: skyblue;
}

img {
	border: 7px solid blue;
	opacity: 0.3;
}
*/


/*#5*/

/*
属性セレクタ
-a[href]
-a[href="foo"]
-a[href~="foo"]

-a[href^="foo"]fooから始まる
-a[href$="foo"]fooで終わる
-a[href*="foo"]fooを含む


*/

/*a[href^="http"]{
	color: orange;
}
*/

/*
a[href*=".com"]{
	color: orange;
}
*/


/*#6*/

/*
擬似クラス
- :first-child
- :last-child
*/

/*li:nth-child(3)*/
/*li:nth-child(odd)*/
/*li:nth-child(even)*/
/*li:nth-child(3n+1)*/
/*li:nth-last-child(4)*/
/*li:only-child
{
	background: violet;
}*/


/*#7*/

/*
擬似クラス

*/

/*p:first-of-type*/
  /*p:last-of-type*/ 
  /*p:nth-of-type(3)*/
  /*p:nth-last-of-type(4)*/
  /*h2:only-of-type
  {
	background: violet;
}*/


/*#8*/

/*
擬似クラス

*/
/*li:not(.target)*/
/*li:empty*/
/*input[type="checkbox"]:checked + label{
	background: violet;
}*/

/*#9*/

/*
角丸
*/

/*div {
	width: 200px;
	height: 200px;
	background: skyblue url('konro_mitsukuchi.png');*/
/*	border-radius: 30px / 15px;*/
/*  border-bottom-right-radius: 30px;*/
/*	border-radius: 10px 20px 30px;*/
/*    border-radius: 50%;
}*/


/*#10*/

/*背景画像
background-size
*/

/*body { margin: 0; }
*/
/*header {
	width: 100%;
	height: 130px;
	background: url('office_underwater.png')
	no-repeat orange;*/
	/*background-size: 50% 100%;*/
	/*background-size: cover;*/
/*	background-size: contain;
	background-position: 50% 50%: 
}*/


/*#11*/

/*
複数の背景画像
*/
/*
header {
	width: 100%;
	height: 200px;
	background: 
	url('office_underwater.png')no-repeat 0 0,
	url('konro_mitsukuchi.png')no-repeat 30px 30px,
	url('office_underwater.png')no-repeat bottom right;
	background-size: contain;


}	
*/

/*#12*/

/*
線形グラデーション
*/

/*div{
	width: 200px;
	height: 200px;*/
/*	background-image: 
	linear-gradient(skyblue, blue);*/
/*	background-image: 
	linear-gradient(to top left, skyblue, blue);*/
/*	background-image: 
	linear-gradient(45deg, lightgreen, skyblue, blue);*/
/*  background-image: 
	linear-gradient(lightgreen 10%, skyblue 70%, blue);*/
/*	background-image: 
	repeating-linear-gradient(lightgreen, skyblue 20px);

}*/


/*#13*/

/*円形グラデーション*/

/*div{
	width: 200px;
	height: 200px;*/
/*	background:
	radial-gradient(skyblue, blue);background:*/
/*	background:
	radial-gradient(at 30px 40px, skyblue, blue);*/
/*	background:
	radial-gradient(farthest-side  at 30px 40px, skyblue, blue);*/
/*	background:
	repeating-radial-gradient(skyblue, blue 20px);
}*/


/*#14*/

/*
box-shadow
text-shadow
*/

/*
body {
	background: #eee; 
}

div {
	width: 200px;
	height: 100px;
	background: #fff;
	box-shadow: 10px 20px 4px 10px
	rgba(0,0,0,0.4) inset,
	10px 20px 4px 10px
	skyblue;
}

h1 {
	text-shadow: 10px 20px 4px 	rgba(0,0,0,0.4); 
}
*/

/*#15,#16*/

/*
変形

ベンダープレフィクス
-moz-
-o-
-webkit-
-ms-

*/

/*div{
	width: 100px;
	height: 100px;
	margin-bottom: 20px;
	position: absolute;
	top: 100px;
	left: 100px;
}

#box1 {
	background: skyblue;
	opacity: .5;
}

#box2 {
	background: orange;
	opacity: .5;*/
	/*transform: translate(20px, 40px);*/
	/*transform: translateX(20px);*/
	/*transform: scale(0.5, 1.5);*/
	/*transform: skew(10deg, 20deg);*/
	/*transform: rotate(30deg);*/
	/*transform-origin: 50% 50%;*/
	/*transform-origin: 0 0;


}*/


/*#17*/

/*
transition

transition-timing-function
- ease
- linear
- ease-in
- ease-out
- ease-in-out
*/

/*div {
	width: 100px;
	height: 50px;
	background: skyblue;*/

/*	transition-delay:all;
	transition-duration:2s;
	transition-timing-function:ease; 
	transition-delay:0.8s; */
/*	transition: all 2s ease 0.8s;
}

div:hover{
	width: 200px;
	height: 50px;
	background: blue;
}*/

/*#18*/

/*
animation
*/

/*
div {
	width: 50px;
	height: 50px;
	background: skyblue;

	-webkit-animation-name: slidein;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-delay: .1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;

}	

@-webkit-keyframes slidein {
	0%{
		margin-left: 100%;
		background: white;
	}
	70%{
		margin-left: 50%;
		background: blue;
	}
	100%{
		margin-left: 0%;
	}

}
*/


/*19*/

/*
width/height
- box-sizing
*/

body{
margin: 0;
padding: 0;
}

.container{
	width: 320px;
	height: 100px;
	background: skyblue;

}

.box{
	box-sizing: border-box;
	width: 100px;
	height: 100px;
	background: #eee;
	float: left;

	padding: 10px;
	border-bottom: 30px solid #ccc;
}

.box + .box{
	margin-left: 10px;
}




